  <!-- partial for /searches/show.ejs goes in here -->
  <!-- lets the user update the info in it. Then, a new button also shows up along with the unhidden form and lets the user submit the form -->
  <section>
  <img src="<%=current.image_url %> alt="book cover image">
  <h2><%=current.title %></h2>
  <h3><%=current.author %></h3>
  <p><%=current.description %></p>
  <h6>isbn: <%=current.isbn %></h6>
  <h4>bookshelf: <%=current.bookshelf %></h4>

  <button id="revealUpdateForm">Personalize This Book</button>

  <%- include('../../../views/pages/books/edit.ejs') %>

</section>
    