<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/reset.css">
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/icons.css">
  <link rel="stylesheet" href="/styles/layout.css">
  <link rel="stylesheet" href="/styles/modules.css">

  <title>Open Shelf</title>
</head>
<body>
  <h1>Open Shelf, a book wiki</h1>

  <!-- TODO: need to add a Details thead and a details td -->
  <table>
    <h2>You have <%= booksFromDB.length %> books saved in your library</h2>
    <thead>
      <th>ID</th>
      <th>Author</th>
      <th>Title</th>
      <th>ISBN</th>
      <th>image_url</th>
      <th>Description</th>
      <th>Bookshelf</th>
    </thead>
    <tbody>
      <% for(let i = 0; i < booksFromDB.length; i++) { %>
       <tr>
         <td><%= booksFromDB[i].id %></td>
          <td><%= booksFromDB[i].author %></td>
          <td><%= booksFromDB[i].title %></td>
          <td><%= booksFromDB[i].isbn %></td>
          <!-- added " " to image url TODO: Why is image not showing?-->
          <td>"<%= booksFromDB[i].image_url %>"</td>
          <td><%= booksFromDB[i].description %></td>
          <td><%= booksFromDB[i].bookshelf %></td>
        </tr>
        <% } %>
    </tbody>
  </table>
</body>
</html>